@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>car w</h1> 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ACCIONES</h2> 
        <ul>
            <li>
                @Html.ActionLink("Vehiculo!", "Crear", "Vehiculo")
            </li>
            <li>
                @Html.ActionLink("Servicio!", "Crear", "Servicio")
            </li>
            <li>
                @Html.ActionLink("Vehiculo x Servicio!", "Crear", "VehiculoServicio")
            </li>
            <li>
                @Html.ActionLink("Lista para Reporte x Servicio!", "Lista", "Servicio")
            </li>
        </ul>
    </div>   
</div>